<main class="top_main">
  <div class="text-center pt-4">
    <h5>がん治療に特化した<h5>
    <h3>エキスパートの知見検索サービス</h3>
    <h3>主な使い方</h3>
  </div>
  <div class="d-flex justify-content-center">
    <div class="image_search m-3">
    </div>
    <div class="image_question m-3">
    </div>
    <div class="image_take_notes m-3">
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "知見検索はこちらから", questions_path, class: "btn btn-link" %>
  </div>
</main>