<main class="top_main">
  <div class="application_heading">
    <div class='top_background'>
    </div>
    <div class="application_message">
      <h1 class="font-weight-bold">
        がん治療に特化した<br>
        薬剤師専用の検索サービス
      </h1>
      <p class="mt-4">エキスパートの知恵を借り、1分で最高峰の薬物知識を手に入れよう!</p>
    </div>
    <div class="p-5 d-inline-block bg-white application_overview">
      <h3 class="about_zitan_medical font-weight-bold text-center">ジタンメディカルについて</h3>
      <p>
        ●有資格薬剤師の知見をすぐ知れるサービス。<br>
        ●論文を1から探すことや薬物治療の疑問が1分で解決!<br>
        ●調べ物はここですぐ済ませ、余った時間を他の仕事に!
      </p>
      <div class="text-right">
        <%= link_to "ジタンメディカルに登録する", new_user_registration_path, class: "btn btn-primary mgr-10 register_button" %>
      </div>
    </div>
  </div>
</main>