@import '~bootstrap/scss/bootstrap';
@import 'actiontext.scss';
@import 'knowledge.scss';
@import 'user.scss';
@import 'note.scss';
@import 'top.scss';

// all
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

.mgr-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.mgr-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mgr-right-20 {
  margin-right: 20px;
}

.bottom-mgr-5 {
  margin-bottom: 5px;
}

.bottom-mgr-50 {
  margin-bottom: 50px;
}

.disease-index-text {
  color: gray;
}

.disease-index-sidemenu-text:hover {
  color: white;
}

.padding-0 {
  padding: 0;
}

.padding-top-15 {
  padding-top: 15px;
}

// navbar
.nav-item {
  margin-right: 10px;
}

.menubar-item {
  font-size: 1.5rem;
}

.menubar-items {
  background-color: rgba(255, 255, 255, 0.557);
}

.dropdown:hover > .dropdown-menu{
  display: block;
}

//jumbotron
.jumbotron {
  padding-top: 0px;
}

.disease-index-jumbotron-text {
  background-color: white;
}

.disease-index-jumbotron-text:hover {
  color: white;
}

.content-link {
  color: black;
}

//sgv
.sgv-map {
  width: 20px;
  height: 20px;
}

// footer
.footer {
  height: 100px;
  width: 100%;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: auto;
  border-top: solid;
}