@import '~bootstrap/scss/bootstrap';
@import 'question.scss';
@import 'user.scss';

// all
.mgr-10 {
  margin-right: 10px;
}

.mgr-20 {
  margin-right: 20px;
}

.bottom-mgr-5 {
  margin-bottom: 5px;
}

// navbar
.nav-item {
  margin-right: 10px;
}

.content-link {
  font-size: 1.2rem;
}

// footer
.footer {
  background-color: rgb(95, 95, 95);
  padding-top: 2rem;
  padding-bottom: 2rem;
}