.knowledge-index {
  text-decoration: none;
  color: black;
}

.knowledge-index:hover {
  text-decoration: none;
  color: black;
}

.knowledge-card:hover {
  background-color: #1a2f8e62;
  border-color: #1a2f8e;
  border-width: 1px;
}

.knowledge-index-disease {
  font-size: 0.5rem;
}

.card-footer {
  background-color: white;
  border-top: none;
}

.resolved-true {
  background-color: pink;
}

.knowledge-index-user-name {
  display: block;
}

.resolved-false {
  color: white;
  background-color: red;
}

.draft-true {
  background-color: rgb(200, 200, 200);
}

trix-editor {
  min-height: 20em;
  max-height: 20em;
  overflow-y: auto;
}

.knowledge-user-name {
  color: gray;
}

.notebook-new_btn svg {
  position: fixed;
  top: 150px;
  left: 30px;
  fill: yellow;
  font-size: 2em;
}

.best-answer {
  color: red;
  background-color: rgba(255, 192, 203, 0.743);
}

.knowledge-comment-header {
  background-color: white;
}

.knowledge-comment-body {
  background-color: rgb(234, 234, 234);
}

.clip-text {
  color: black;
}