.question-index {
  text-decoration: none;
  color: black;
}

.question-index:hover {
  text-decoration: none;
  color: black;
}

.question-card:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.question-index-disease {
  font-size: 0.5rem;
}

.card-footer {
  background-color: white;
}

.resolved-true {
  background-color: pink;
}

.question-index-user-name {
  display: block;
}

.resolved-false {
  color: white;
  background-color: red;
}

.draft-true {
  background-color: rgb(200, 200, 200);
}

trix-editor {
  min-height: 20em;
  max-height: 20em;
  overflow-y: auto;
}

.question-user-name {
  color: gray;
}

.notebook-new_btn {
  overflow: hidden;
}

.notebook-new_btn svg {
  position: fixed;
  bottom: 0px;
  left: 40px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.notebook-new_btn svg:nth-of-type(2) {
	opacity: 0;
}

.notebook-new_btn:hover svg:nth-of-type(2) {
	opacity: 100;
}

.best-answer {
  color: red;
  background-color: rgba(255, 192, 203, 0.743);
}

.question-comment-header {
  background-color: white;
}

.question-comment-body {
  background-color: rgb(234, 234, 234);
}

.clip-text {
  color: black;
}