// トップ画面のCSS 
.top_main {
  height: 120vh; 
  background-color: #E4E4E4;
}

.application_heading {
  height: 60vh;
  position: relative;
}

.top_background {
  background-size: cover;
  height: 60vh;
  background-image: url('../images/top_background.png');
  filter: grayscale(100%) opacity(40%);
  background-attachment: fixed; 
}

.application_message {
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translate(0%, -50%);
  color: #1A308E;
}

.application_overview {
  position:absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_zitan_medical {
  color: #1A308E;
}

.register_button {
  background-color: #1A308E;
}

// about画面のCSS
.image_search {
  background-image: url('../images/search.png');
  height: calc(1240px / 4.5);
  width: calc(1748px / 4.5);
  display: inline;
  background-size: contain;
  background-repeat: no-repeat;
}

.image_knowledge {
  background-image: url('../images/knowledge.png');
  height: calc(1240px / 4.5);
  width: calc(1748px / 4.5);
  background-size: contain;
  background-repeat: no-repeat;
}

.image_take_notes {
  background-image: url('../images/take_notes.png');
  height: calc(1240px / 4.5);
  width: calc(1748px / 4.5);
  background-size: contain;
  background-repeat: no-repeat;
}