<h5>カテゴリー一覧</h5>

<table>
  <thead>
    <tr>
      <th>カテゴリー名</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %><td>
        <td><%= link_to "詳細", category_path(category.id) %></td>
        <td><%= link_to "編集", edit_category_path(category.id) %></td>
        <td><%= link_to "削除", category_path(category.id), method: :delete, data: { confirm: "本当に削除してもよろしいでしょうか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
